body {
  font-family: 'Orbitron', sans-serif;
  color: #64ffda;
  box-shadow: rgba(2, 12, 27, 0.9) 0px 2px 4px;
}

h3 {
  color: #64ffda;
  font-weight: 700;
  text-align: right;
  margin-right: 1em

}
h2{
  color: #64ffda;
  font-weight: 700;
  text-align: center;

}
a {
  color: #64ffda;
  text-decoration-line: none;
}
a:hover {
   color: #FFF;

}