header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Orbitron', sans-serif;
  color: #64ffda;
  box-shadow: rgba(2, 12, 27, 0.9) 0px 2px 4px;
  z-index: 11;
  width: 100%;
  height: 70px;
  top: 0px;
  align-items: center;
  padding: 0px 50px;
  position: fixed;
  margin: 15px;
  background-color: rgb(10, 25, 47);
}
.LogoInHeader{
  justify-content: space-between;
  width: 42px;
  height: 42px;
  align-items: center;
  margin: 15px;
  align-items: center;
}
body {
  display: flex;
  justify-content: space-between;
  font-family: 'Orbitron', sans-serif;
  color: #64ffda;
  box-shadow: rgba(2, 12, 27, 0.9) 0px 2px 4px;
  z-index: 11;
  width: 100%;
  height: 70px;
  top: 0px;
  align-items: center;
  padding: 0px 50px;
  position: fixed;
  background-color: rgb(10, 25, 47);
}
.Logo {
  background-image: url(../images/github.svg);
  width: 42px;
  height: 42px;
  display: inline-block;
  display: flex;
}
h3 {
  color: #64ffda;
  font-weight: 700;
  text-align: right;
  margin-right: 1em;
  text-align: center;

}
h2{
  color: #64ffda;
  font-weight: 700;
  text-align: center;

}
a {
  color: #64ffda;
  text-decoration-line: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 10px;
}
a:hover {
   color: #FFF;
   text-decoration: 'none';

}
.bodyText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Orbitron', sans-serif;
  color: #64ffda;
  z-index: 11;
  width: 90%;
  height: 75px;
  top: 45%;;
  align-items: center;
  position: fixed;
  background-color: #0a192f;
}

.iconText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Orbitron', sans-serif;
  color: #64ffda;
  z-index: 11;
  height: 75px;
  top: 45%;;
  align-items: center;
  position: fixed;
  background-color: #0a192f;
}
.iconLogo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Orbitron', sans-serif;
  color: #64ffda;
  z-index: 11;
  width: 90%;
  top: 55%;;
  align-items: center;
  position: fixed;
  background-color: #0a192f;
}